.near {
  background-image: url(/home/phylis/group8-project/public/Earth.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 138vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


h1 {
  font-size: 36px;
  color: blue;
  margin-bottom: 20px; 
}


table {
  margin: 0 auto;
  border-collapse: collapse;
  background-color: antiquewhite;
  
}

th, td {
  border: black;
  padding: 40px;
}

th {
background-color: aquamarine;
}

h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: large;
}


